{% extends "base.html" %}

{% block content %}
<body>
            
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <h1>A choice has been made!</h1>
    </header>    


    <div class="choices">
        <div id="r" class="choice">
            <a href="/scissors/rock">
                <img src={{ url_for('static', filename='images/icons8-hand-rock-50.png') }} alt="">
            </a>
        </div>
        <div id="s" class="choice">
            <a href="/scissors/scissors">
                <img src={{ url_for('static', filename='images/icons8-hand-scissors-50.png') }} alt="">
            </a>
        </div>
        <div id="p" class="choice">
            <a href="/scissors/paper">
                <img src={{ url_for('static', filename='images/icons8-hand-50.png') }} alt="">
            </a>
        </div>
    </div>
    
    <p id="action-message">Player 2 Make Your Choice!</p>

</body>

{% endblock content %}